[{snapaste, [
    %% host and port for your site as seen from the outside world
    {host, "localhost"},
    {port, 8443},
    %% certificate file for your domain
    {certfile, "/usr/local/snapaste/ssl/domain.crt"},
    %% key file for your domain
    {keyfile, "/usr/local/snapaste/ssl/domain.key"}
]}].